<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../../static/dist/css/selfcss.css" rel="stylesheet">
    <link href="../../static/css/templatemo_self.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../static/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <script src="../../static/jquery/jquery.min.js"></script>
    <script src="../../static/jquery/jquery.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="../../static/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../static/raphael/raphael.min.js"></script>
    <script src="../../static/morrisjs/morris.min.js"></script>
    <script src="../../static/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/dist/js/sb-admin-2.js"></script>
    <script src="../../static/js/templatemo_editor.js"></script>


</head>

<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="../../static/imgs/logo.png" class="header-logo"></a>
        </div>

        <div id="navHeader">
            <ul class="nav navbar-top-links navbar-right">
                <li class="active"><a href="panels-wells.html">Data Report</a></li>
                <li><a href="grid.html">Pepsi</a></li>
            </ul>
        </div>


    </nav>
    <div class="template-page-wrapper" style="margin-left: 20px;margin-right: 20px">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 class="page-header">质量概况</h3>
            </div>
            <!-- /.col-lg-12 -->

            <div class="col-lg-12 col-md-12">
                <textarea class="col-lg-12" rows="5" id="quality_content" name="quality_content"></textarea>
            </div>
            <div class="col-lg-12 col-md-12">
                <h3 class="page-header">用户反馈</h3>
            </div>
            <!-- /.col-lg-12 -->

            <div class="col-lg-12 col-md-12">
                <table class="table table-striped table-hover table-bordered" id="lalala">
                    <thead>
                    <tr>
                        <th>bug名称</th>
                        <th>业务端</th>
                        <th>状态</th>
                        <th>负责人</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="tr_0">
                        <td><input type="text" id="bug_0" class="validate-selection"></td>
                        <td><select  id="yw_0" class="validate-selection">
                            <option value="1">家长端</option>
                            <option value="2">管理端</option>
                            <option value="3">教师端</option>
                            <option value="4">App</option>
                            <option value="5">在线教师</option>
                        </select></td>
                        <td><select id="status_0" class="validate-selection">
                            <option value="1">解决中</option>
                            <option value="2">已解决</option>
                            <option value="3">不解决</option>
                        </select></td>
                        <td><input type="text" id="fzName_0" class="validate-selection"></td>
                        <td><textarea class="col-lg-12" rows="1" id="bz_0"></textarea>
                        </td>
                    </tr>
                    <tr id="baseTr" >
                        <td colspan="5"> <input type="button" class="btn btn-default" id="addTr" style="margin-top: 5px;" value="增加行" onclick="addTr()" >
                            <input type="button" class="btn btn-default" id="delTr" style="margin-top: 5px;" value="删除行" onclick="delTr()" >
                            <input type="button" class="btn btn-default" style="margin-top: 5px;" value="提交内容"
                                   onclick="addContent()"></td>

                    </tr>
                    </tbody>




            </div>
        </div>


    </div>
    </div>