<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="imgs/logo.png" class="header-logo"></a>
    </div>

    <div id="navHeader">
        <ul class="nav navbar-top-links navbar-right">
            <li class="active"><a href="panels-wells.html">Data Report</a></li>
            <li><a href="grid.html">Pepsi</a></li>
        </ul>
    </div>


</nav>


